* {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    font-family: "Inter" sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

main{ /*cuando no hacemos referencia a una clase especifica no va con el punto inicial*/
    display: flex;    
}

.input-text{
    margin-top: 90px;
}
.input-text-area{
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
}